/* Body */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* Paragraphs */
p {
    line-height: 1.5;
}

/* Images */
img {
    max-height: 400px;
}

/* Highlighting texts with yellow color */
.highlighted {
    background-color: yellow;
}

/* Bolding texts */
.bold {
    font-weight: bold;
}